.header {
  border-bottom: 2px solid #E0752F;
  position: fixed;
  z-index: 1000;
  width: 100%;
  min-height: 96px;
  max-height: auto;
  min-width: 30%;
  padding-left: 1px;
  transition: all 0.5s ease 0s;
  display: flex;
  align-items: center;
  background-color: #E0752F;
  


  .logo{
    justify-content: flex-start;
    align-items: center;
  }

  

  .container {
    display: flex;
    align-items: center;
  }
}
  
.navbar {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  color: #ffffff;

  > ul {
    margin: 0;
    padding: 0;

    > a {
      display: inline-block;
      color:#ffffff;
      padding: 10px;
    }
  }
}